<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <% @seasons.each do |season| %>
          <%= link_to season.name, season_path(season.id), class: "list-group-item" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-9">
      right
    </div>
  </div>
</div>
