<div class="row">
  <div class="col-md-12">
    <h5>
      <%= link_to event_path(event.id) do %>
        <%= event.started_at.strftime("%U").to_i.ordinalize %> week

        <small>
          <%= event.started_at.strftime("%d %b") %> &ndash;
          <%= event.finished_at.strftime("%d %b %Y") %>
        </small>

        <% if !event.is_closed && !event.is_rated %>
          <span class="label label-success">Current</span>
        <% elsif event.is_closed && !event.is_rated %>
          <span class="label label-warning">Closed</span>
        <% end %>
      <% end %>
    </h5>
  </div>
</div>
