<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <%= @event.started_at.strftime("%U").to_i.ordinalize %> week
      </h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <%= render @event.matches %>
    </div>
  </div>
</div>
