<div class="container event">
  <%= render("event_header") %>

  <% if @event.is_rated %>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <th>Player</th>
          <th>Rating</th>
          <th>Games</th>
          <th>Deviation</th>
        </thead>

        <tbody>
          <%= render @event.standings %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
    <h1>
      Event is still running; come back later
    </h1>
  <% end %>
</div>
