<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Editing Match</h1>

      <%= render 'form' %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Back to event", event_path(@match.event) %>
    </div>
  </div>
</div>
