<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "Netrunner.io", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">
            Current Event
          </a>
        </li>

        <li>
          <a href="#">
            Seasons
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Welcome to the Android: Netrunner League
      </h1>

      <p class="lead">
        Such Android. Much Netrunner. Wow. Very like
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        Submit Match Result
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2>
        Current Standings
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Player</th>
            <th>Rating</th>
            <th>Deviation</th>
            <th>Volatility</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Doge</td>
            <td>1500</td>
            <td>350</td>
            <td>0.06</td>
          </tr>

          <tr>
            <td>Doge</td>
            <td>1500</td>
            <td>350</td>
            <td>0.06</td>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>
