<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Welcome to the Android: Netrunner League
      </h1>

      <p class="lead">
        Such Android. Much Netrunner. Wow. Very like
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Submit Match Result",
        new_match_path,
        class: "button btn-primary btn-lg btn-block text-center" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2>
        Current Standings
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Player</th>
            <th>Rating</th>
            <th>Deviation</th>
            <th>Volatility</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Doge</td>
            <td>1500</td>
            <td>350</td>
            <td>0.06</td>
          </tr>

          <tr>
            <td>Doge</td>
            <td>1500</td>
            <td>350</td>
            <td>0.06</td>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>
